<!-- <p>about-me works!</p> -->


<div class="about-me">
  <b><h2>About Me</h2></b>
  <div class="content-wrapper">

  <div class="profile-section">
    <div class="image-container">
      <img src="assets/images/deeps.enc" alt="My Image" class="profile-image">
    </div>
    </div>

  <!-- <div class="about-me"> -->
  <!-- <h2>About Me</h2> -->
    <div class="description">
      <p>Hello! I’m <strong>Deepika Arora</strong>, an aspiring Software Engineer and a MEAN Stack Developer currently interning at <strong>Persistent Systems</strong>.</p>

      <p>I have a strong foundation in various programming languages and technologies, including Python, C, HTML, CSS, JavaScript, TypeScript, Node.js, Angular, MongoDB, Express, SQL, OOPs, and the basics of Machine Learning. I have also earned several certifications that enhance my technical skill set.</p>

      <p>During my B.Tech, I developed two notable projects: a <strong>Medicinal Reminder System</strong>, a PyQt5 application that uses Google Text-to-Speech to remind users of their medication times, and a <strong>Double Authentication System</strong> that incorporates multiple authentication methods, including passwords, fingerprints, OTPs, eye scanning, and security questions. During my internship at Escorts, I contributed by developing a Python UI using PyQt5 for an ongoing tractor trajectory project and creating a UI to handle OTP requests from the backend.</p>

      <p>In addition to my technical skills, I believe discipline and effective communication are crucial in achieving success in the tech industry.</p>

      <p>Outside of my academic and professional life, I enjoy singing, painting, and playing the guitar. I strive to maintain a balance between my personal interests and professional development.</p>

      <p>I am proud of my achievements, having performed well academically and in my internship, where I was recognized as a fast learner and executor by my department manager. I am always open to learning new skills and embracing opportunities that come my way.</p>

      <p>Thank you for visiting my page! Feel free to connect with me.</p>
   
  </div>
</div>

</div>
