/* app.component.css or styles.css */
.navbar-custom {
  background-color: #b21242;
  /* display: inline-flex ;
  width: 100%; */
  /* Change this to your desired background color */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
  color: white; 
  margin-left: 5px;/*
   Change this to your desired text color */
   
}
.navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus {
    background-color: #5d0505; /* Hover/focus effect */
  }

  .image-container {
    text-align: center; /* Center the image */
    margin: 20px 0; /* Add margin above and below the image */
  }
  
  .profile-image {
    width: 150px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: make it circular */
  }
  